app-header{
    height: 44px;
}

.content {
    display: flex;
    width: 100vw;
    max-width: 100%;
    height: calc(100vh - 44px);

    mat-drawer {
        width: 13%;
        position: unset;
    }

    app-messages-history {
        flex: 1 1 auto;
    }

    app-navbar-right {
        width: 20%;
    }
}

.sidenav-left {
    background-color: #3E103F;
    color: #FFFFFF;
}