<app-header (searchTextChanged)="onSearchTextEntered($event)"></app-header>
<div class="content">
    <app-navbar-left (whichContentShouldLoad)="setContent($event)" id="sidenav-leftt" *ngIf="mobileNavBar"></app-navbar-left>
    <app-messages-history [whichContentShouldLoad]="whichContentShouldLoad" [searchText]="searchText" *ngIf="mobileContent"></app-messages-history>
    <app-navbar-right></app-navbar-right>
</div>
<div class="mobile-footer">
    <mat-icon fontIcon="home" (click)="showChannels()" ></mat-icon>
    <mat-icon fontIcon="chat" (click)="showMessages()"></mat-icon>
</div>