<app-header></app-header>
<div class="content">
    
    <mat-drawer [opened]="true" #drawer class="sidenav-left" mode="side">
        <app-navbar-left></app-navbar-left>
    </mat-drawer>
    <app-messages-history></app-messages-history>
    <app-navbar-right></app-navbar-right>
</div>
<mat-drawer-container class="example-container" autosize>

  
    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
    </div>
  
  </mat-drawer-container>
  