<mat-toolbar class="toolbar-header">
    <div class="header-left">
        <a routerLink="/">Slack Clone</a>
        <button mat-icon-button class="collapse-menu"
            (click)="openNavbarLeft()">
            <mat-icon>compare_arrows</mat-icon>
        </button>
        

    </div>
    <div class="header-mid">
        <!-- <mat-icon>schedule</mat-icon> -->
        <form class="search-bar" ngNativeValidate (submit)="sub()">
            <input type="text" name="" placeholder="Search Slack Clone" >

            <button>
                <img src="../../assets/img/icons/magnifying-glass-white.svg">

            </button>
        </form>
    </div>

    <div class="header-right">
        <mat-icon>help</mat-icon>
        <img class="profile-pic" [src]="profileImgSrc">
    </div>

</mat-toolbar>