.toolbar-header {
    background-color: #2B092A;
    min-height: 50px;
    display: flex;
    justify-content: space-between;

    a {
        text-decoration: none;
        color: white
    }
}

mat-icon {
    color: white;
}

.header-mid {
    display: flex;
    align-items: center;
    gap: 10px;
}

mat-form-field {
    background-color: white;
}

.search-bar {
    width: 100%;
    max-width: 700px;
    background: rgba(255,255,255,0.2);
    display: flex;
    align-self: center;
    border-radius: 60px;
    padding: 5px 5px;

    input {
        background: transparent;
        flex: 1;
        border: 0;
        outline: none;
        padding: 0px 10px;
        font-size: 20px;
        color: white;

        
    }

    button {
        border: 0;
        border-radius: 50%;
        cursor: pointer;
        background: transparent;
    }

    button img {
        width: 25px;

    }

}

