.navbar-right-container {
    height: 100%;
    overflow: auto;
}

.title-close-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px solid rgba($color: rgb(0, 0, 0), $alpha: 0.1);
    margin-bottom: 16px;
}

.edit-user-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 16px;
    margin-top: 16px;
    padding-right: 0;

    p {
        margin-bottom: 0;
        font-size: 18px;
    }
}

.edit-contactdata-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-right: 0;
    border-top: 1px solid rgba($color: rgb(0, 0, 0), $alpha: 0.1);

    p {
        margin-bottom: 0;
        font-size: 16px;
    }
}

.email-phone{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding-left: 16px;
    padding-top: 16px;

    div{
        padding-left: 16px;
    }

    p{
        margin-bottom: 0;
    }

    a{
        text-decoration: none;
    }
}
