<div class="messages_history">
    <div class="header-and-messages">
        <div class="messages_history_header">
            <span> # {{ doc?.headline }} </span>
        </div>
        <div class="messages_history_content" >
            <div class="single-post" *ngFor="let message of doc?.messages">
                <img class="profile-pic" src="../../assets/img/blank-profile.png">
                <div class="author-and-text">
                    <div><span class="author">{{ message.creator }}</span>
                        <span class="time">{{ message.date | date: 'dd.MM.yyyy hh:mm' }}</span>
                    </div>
                    <span>{{ message.text }}</span>
                </div>
            </div>

            <!--  <div class="single-post">
                <img class="profile-pic" src="../../assets/img/blank-profile.png">
                <div class="author-and-text">
                    <div><span class="author">Thomas Wagner</span>
                        <span class="time">Sat, 12.09</span>
                    </div>
                    <span>So richtig?</span>
                </div>
            </div>

            <div class="single-post">
                <img class="profile-pic" src="../../assets/img/blank-profile.png">
                <div class="author-and-text">
                    <div><span class="author">Leonardo van Dahl</span>
                        <span class="time">Sat, 12.10</span>
                    </div>
                    <span>Bin dabei</span>
                </div>
            </div>

            <div class="single-post">
                <img class="profile-pic" src="../../assets/img/blank-profile.png">
                <div class="author-and-text">
                    <div><span class="author">Sebastian Michael</span>
                        <span class="time">Sat, 12.10</span>
                    </div>
                    <span>Safe bruderrrrr</span>
                </div>
            </div>

            <div class="single-post">
                <img class="profile-pic" src="../../assets/img/blank-profile.png">
                <div class="author-and-text">
                    <div><span class="author">Thomas Wagner</span>
                        <span class="time">Sat, 12.11</span>
                    </div>
                    <span>Also mit Kotzen und so? Bis nix mehr geht?</span>
                </div>
            </div>

            <div class="single-post">
                <img class="profile-pic" src="../../assets/img/blank-profile.png">
                <div class="author-and-text">
                    <div><span class="author">Samuel Haas</span>
                        <span class="time">Sat, 12.11</span>
                    </div>
                    <span>c</span>
                </div>
            </div>

            <div class="single-post">
                <img class="profile-pic" src="../../assets/img/blank-profile.png">
                <div class="author-and-text">
                    <div><span class="author">Sebastian Michael</span>
                        <span class="time">Sat, 12.13</span>
                    </div>
                    <span>Soll ich ein bisschen Kiffgras zum Spritzen mitbringen? Oder Koks?</span>
                </div>
            </div>

            <div class="single-post">
                <img class="profile-pic" src="../../assets/img/blank-profile.png">
                <div class="author-and-text">
                    <div><span class="author">Leonardo van Dahl</span>
                        <span class="time">Sat, 12.13</span>
                    </div>
                    <span>Ne, wir fliegen heute unter dem Radar. Ich würde sagen, wir fangen an mit Gin und arbeiten uns
                        dann langsam durch das Bordeaux. Hab noch nen 1979er Château Margaux im Keller, die Plörre muss
                        langsam auch mal weg. Anschließend ein paar Pressbiere und dann ab auf den Frühlingsmarkt,
                        ehrenlos
                        mit Glühwein wegräumen.</span>
                </div>
            </div>

            <div class="single-post">
                <img class="profile-pic" src="../../assets/img/blank-profile.png">
                <div class="author-and-text">
                    <div><span class="author">Thomas Wagner</span>
                        <span class="time">Sat, 12.14</span>
                    </div>
                    <span>Also meines Erachtens klingt das nach nem Plan. Deine Margaux-Brühe kannst aber alleine
                        saufen...</span>
                </div>
            </div>

            <div class="single-post">
                <img class="profile-pic" src="../../assets/img/blank-profile.png">
                <div class="author-and-text">
                    <div><span class="author">Sebastian Michael</span>
                        <span class="time">Sat, 12.14</span>
                    </div>
                    <span>Ich wollt heut eigentlich n bissl langsam machen. Bei 2,8 Promille wollte ich spätestens die
                        Reißleine ziehen. Aber mei, wo gesuffen wird, fallen Schäpse. </span>
                </div>
            </div>

            <div class="single-post">
                <img class="profile-pic" src="../../assets/img/blank-profile.png">
                <div class="author-and-text">
                    <div><span class="author">Samuel Haas</span>
                        <span class="time">Sat, 12.14</span>
                    </div>
                    <span>Geil, Jungs. Dann mach ich mich mal bereit. Die Vorglüh-Biere hier trinken sich auch nicht von
                        alleine... Wann wollt ihr los? 18 Uhr? </span>
                </div>
            </div>

            <div class="single-post">
                <img class="profile-pic" src="../../assets/img/blank-profile.png">
                <div class="author-and-text">
                    <div><span class="author">Thomas Wagner</span>
                        <span class="time">Sat, 12.15</span>
                    </div>
                    <span>Hmm, bissl spät, oder? Wollen wir nicht lieber 16 Uhr machen? Ich sags ungern, aber ich bin
                        leicht
                        unterhopft. Ganz zitterig. </span>
                </div>
            </div> -->
        </div>
    </div>

    <div class="ngxEditor__wrapper positioning" *ngIf="editor">
        <mat-icon class="send-button" (click)="sendMessage()">outgoing_mail</mat-icon>
        <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
        <ngx-editor [editor]="editor" [ngModel]="html" [disabled]="false" [placeholder]="'Type here...'"></ngx-editor>
    </div>
</div>