.messages_history {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.messages_history_header {
    width: 100%;
    height: 49px;
    background-color: black;
}

.messages_history_content {
    padding: 0 20px 0 20px;
    background-color: orange;
    flex: 1 1 auto
}

.text_field {
    box-sizing: border-box;
    min-height: 142px;
    margin: 0 20px 20px 20px;
    border-radius: 8px;
    border: 1px solid;
    box-shadow: 0 0 0 1px rgba(29, 28, 29, .13);
    border-color: rgba(29, 28, 29, .13);


}

.textarea {
    width: 100%;
    height: 100%;

    &:focus-visible{
        outline-color: rgba(29, 28, 29, .3);
        // outline: unset;
        // outline-style: ;
        // outline-width: ;
    }
}