<div class="content">

    <div class="channels">
        <h2>Channels</h2>
        <div class="single-channel">
            <div class="hashes">#</div>
            <div class="channel-name"><span>general</span></div>
        </div>
        <div class="single-channel">
            <div class="hashes">#</div>
            <div class="channel-name"><span>random</span></div>
        </div>
        <div class="single-channel">
            <div class="hashes">#</div>
            <div class="channel-name"><span>memes</span></div>
        </div>

    </div>

    <div class="directMessages">
        <h2>Direct Messages</h2>
        <div class="single-dm">
            <mat-icon>radio_button_unchecked</mat-icon>
            <div class="channel-name"><span>Samuel Haas</span></div>
        </div>
        <div class="single-dm">
            <mat-icon>radio_button_unchecked</mat-icon>
            <div class="channel-name"><span>Sebastian Michael</span></div>
        </div>
        <div class="single-dm">
            <mat-icon>radio_button_unchecked</mat-icon>
            <div class="channel-name"><span>Leonardo van Dahl</span></div>
        </div>

    </div>



</div>