.content {
    
    padding-top: 12px;
    border-top: 1px solid black;
}

.channels {
    font-size: 17px;
    font-weight: bold;
    margin-top: 24px;
    padding-left: 12px;
}
.border {
    border-bottom: 1px solid rgba(255,255,255,0.2);
    padding-left: 0;
}


.channels-content {
    padding-top: 12px;

}

.directMessages-content {

    padding-top: 12px;
        

}

.single-channel {
    display: flex;
    gap: 10px;
    font-size: 15px;
    padding-bottom: 12px;
    font-weight: 400;
}

.hashes {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.4)
}

.single-dm {
    display: flex;
    align-items: center;
    padding-bottom: 12px;
    font-weight: 400;
    font-size: 15px;
}

mat-icon {
    font-size: 14px;
    line-height: 1.7;
}