body{
    margin: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@keyframes fromBottomToMiddle {
    0% {
      bottom: 0;
    }
    100% {
      bottom: 50vh;
    }
}


.NgxEditor {
  min-height: 70px;
  color: yellow;
}