<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

<h1 class="title-dialog" mat-dialog-title>Create a new group</h1>
<div mat-dialog-content>
  <div>
    <mat-form-field class="mr-16 mt-16" appearance="outline">
      <mat-label>Enter group name</mat-label>
      <input type="text" [attr.disabled]="loading" matInput placeholder="Group name" [(ngModel)]="group.headline" required>
    </mat-form-field>

  <div class="buttons">
    <button mat-stroked-button (click)="closeDialogGroup()" >Cancel</button>
    <button mat-raised-button color="primary" (click)="saveGroup()">Save</button>
  </div>
</div>